# Dependency directories
node_modules
package-lock.json

# environment variable files
.env
.env.production
.env.local

# Typescript build output
dist

# macOS meta files
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions

# Zip output
app.zip
