<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- ensure proper rendering on Internet Explorer and Edge web browsers for when the email design is being displayed on the web as a webpage if the option is presented -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- control the layout on mobile browsers -->
  </head>
  <body>
    <p>Dear <%= name %>,</p>

    <p>
      Thank you for contacting us. This email is to notify you that your message
      from the contact form is well received.
    </p>

    <p>
      <span>Here's the message we got from you:</span>
      <br />
      <span><%= message %></span>
    </p>

    <p>We will get back to you as soon as possible.</p>

    <div>
      If you have questions about this email or any other enquiry, please email
      us directly: <%= email %>.
    </div>

    <p>
      <span>Best Regards,</span>
      <br />
      <span><%= sender %></span>
    </p>

    <br />
    <br />

    <p style="color: rgba(0, 0, 0, 0.5); font-size: 14px">
      *This is an email supported by Email.Service.Studio. Please do not reply.
    </p>
  </body>
</html>
