<div style="font-size: 11px; padding-bottom: 5px; color:black">
  @ 2024 Email.Service.Studio |
  <a href="mailto:email.service.studio@gmail.com" style="color: black;">email.service.studio@gmail.com</a>
</div>